

  <div id="canvas-holder">
    <div id="chartdiv"></div>
  </div>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}

    <div class="data-table">
      <h3>Raw data</h3>
      <table>
        <tr>
          <th>Detail</th>
          <th>Data</th> 
        </tr>
        {%- for item in page.items -%}
        <tr>
          <td>{{item.name}}</td>
          <td>{{item.value}}</td> 
        </tr>
        {%- endfor -%}
        <tfoot>
          <th>Total</th>
          <th>{{ total }}</th> 
        </tfoot>
      </table>
    </div>
  </div>