  <div id="canvas-holder">
    <div id="chartdiv"></div>
  </div>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}

    <div class="data-table">
      <h3>Raw data</h3>
      <table>
        <tr>
          <th>Detail</th>
          <th>Data</th> 
        </tr>
        {%- for item in page.items -%}
          <tr>
            <td>{{item.name}}</td>
            <td><a href="{{site.base_url}}{{item.link}}.html">{{item.value}}</a></td> 
          </tr>
        {%- endfor -%}
        {%- if total -%}
        <tfoot>
          <th>Total</th>
          <th>{{ total }}</th> 
        </tfoot>
        {%- endif -%}
      </table>
    </div>
  </div>