

  <div id="canvas-holder">
    <div id="chartdiv"></div>
  </div>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}

    <div class="data-table">
      <h2>Raw data</h2>
      <table>
        <tr>
          <th>Requesting Supplier</th>
          <th>Not Acknowleged</th> 
          <th>Not Sent</th> 
          <th>Integrated</th> 
          <th>Filing Rejected</th>
          <th>Duplicate</th> 
          <th>Suppressed</th> 
          <th>Filing Failed</th> 
          <th>Other</th> 
        </tr>
        {%- for item in page.items -%}
        <tr>
          <th>{{item.RequestorSupplier}}</th>
          <td>{{item.not_acknowledged_count}}</td>
          <td>{{item.not_sent_count}}</td>
          <td>{{item.integrated_count}}</td> 
          <td>{{item.rejected_count}}</td>
          <td>{{item.duplicate_count}}</td>
          <td>{{item.suppressed_count}}</td>
          <td>{{item.filing_failed_count}}</td> 
          <td>{{item.other_count}}</td> 
        </tr>
        {%- endfor -%}
        <tfoot>
          <th>Total</th>
          <th>{{ totalNotAcknowleged }}</th> 
          <th>{{ totalNotSent }}</th> 
          <th>{{ totalIntegrated}}</th> 
          <th>{{ totalFilingRej }}</th> 
          <th>{{ totalDuplicate }}</th> 
          <th>{{ totalSuppressed}}</th> 
          <th>{{ totalFilingFailed}}</th> 
          <th>{{ totalOther}}</th> 
        </tfoot>
      </table>
    </div>
  </div>