---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

@import "so-simple";

.prm-wrapper {
    display: flex;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
}

#funnel {
    margin-bottom: 30px;
}

#canvas-holder {
    margin-bottom: 30px;
    text-align: -webkit-center;
}

// funnel.html
#chartdiv {
    min-height: 600px;
}

.default-content-wrapper {
    width: 100%;
}

// home.html
.post-list h3 {
    margin-bottom: 10px;
}

.post-list ul {
    margin-bottom: 10px;
}