---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

@import "so-simple";

.prm-wrapper {
    display: flex;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
}

#funnel {
    margin-bottom: 30px;
}

#canvas-holder {
    margin-bottom: 30px;
    text-align: -webkit-center;
}

// funnel.html
#chartdiv {
    min-height: 600px;
}

.funnel {
    max-width: 800px;
}

.default-content-wrapper {
    width: 100%;
}

// home.html
.post-list h3 {
    margin-bottom: 10px;
}

.post-list ul {
    margin-bottom: 10px;
}

.glossary table {
    table-layout: fixed;
}

.glossary table th + th, 
.glossary table td + td {
    border-left: 1px solid black;
}

.glossary th:first-of-type {
    width: 300px;
}

.glossary th:first-of-type + th {
    width: 100px;
    text-align: center;
}

.glossary td:first-of-type + td {
    text-align: center;
}

.breadcrumb {
    padding-inline-start : 0px;
    list-style: none;
    border: 0px;  
    display: block;
}
.breadcrumb > li {
    display: inline-block;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
}
  
.breadcrumb li {font-size: 14px;}
.breadcrumb a {color: blue;}
.breadcrumb a:hover {color: darken(blue, 20%);}
.breadcrumb>.active a {color: #555555; }
.breadcrumb>li+li:before {color:blue; content: "\003E\00a0";}

.index {
    list-style: square;
    font-size: 1.5em;
    line-height: 2em;
}

.index > ol {
    list-style: none;
    font-size: .75em;
    line-height: 1.5em;
}
