---
---

@import "{{ site.theme }}";

.prm-wrapper {
    display: flex;
    justify-content: center;
}

.chart-container, .home {
    width: calc(800px - (30px * 2))
}

#canvas-holder {
    width: 100%;
}

