---
---

@import "{{ site.theme }}";

.prm-wrapper {
    display: flex;
    justify-content: center;
}

.default-content-wrapper {
    width: calc(800px - (30px * 2))
}

#canvas-holder {
    width: 100%;
    min-height: 400px;
}

#canvas-holder-horizontalBar {
    #canvas-holder {
        min-height: 800px;
    }
}

.data-table {
    table {
        width: 100%;
    }
}
