---
---

@import "{{ site.theme }}";

.prm-wrapper {
    display: flex;
    justify-content: center;
}

.default-content-wrapper {
    width: calc(800px - (30px * 2))
}

#canvas-holder {
    width: 100%;
}

.data-table {
    table {
        width: 100%;
    }
}
