---
layout: default
---

<article class="widget" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
      <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }} - {{ page.timeframe }}</h1>
  </header>

  <div class="post-content e-content">
    <ul>
        <li>Data type: {{ page.datatype }}</li>
        <li>Confidence in data: {{ page.confidence }}</li>
        <li>Datasource: {{ page.datasource }}</li>
        <li>Total number of data points: {{ page.total }}</li>
    </ul>
  </div>

  <div id="canvas-holder">
    <canvas id="chart-area"></canvas>
  </div>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <script>
    const data = JSON.parse('{{page.items | jsonify}}');

    var config = {
      type: 'horizontalBar'
    };

    window.onload = function() {
      var ctx = document.getElementById('chart-area').getContext('2d');
      new Chart(document.getElementById("chart-area"),{"type":"bar","data":{"labels":["January","February","March","April","May","June","July"],"datasets":[{"label":"My First Dataset","data":[65,59,80,81,56,55,40],"fill":false,"backgroundColor":["rgba(255, 99, 132, 0.2)","rgba(255, 159, 64, 0.2)","rgba(255, 205, 86, 0.2)","rgba(75, 192, 192, 0.2)","rgba(54, 162, 235, 0.2)","rgba(153, 102, 255, 0.2)","rgba(201, 203, 207, 0.2)"],"borderColor":["rgb(255, 99, 132)","rgb(255, 159, 64)","rgb(255, 205, 86)","rgb(75, 192, 192)","rgb(54, 162, 235)","rgb(153, 102, 255)","rgb(201, 203, 207)"],"borderWidth":1}]},"options":{"scales":{"yAxes":[{"ticks":{"beginAtZero":true}}]}}});
    };

  </script>
  <script src="/prm-funnel/assets/js/Chart.min.js"></script>

</article>
