---
layout: default
---

{%- include chart-description.html -%}
{%- include chart-page.html -%}

<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/kelly.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<!-- Chart code -->
<script>
  // Themes begin
  am4core.useTheme(am4themes_kelly);
  am4core.useTheme(am4themes_animated);
  // Themes end

  // Create chart instance
  const chart = am4core.create("chartdiv", am4charts.PieChart);

  const legendContainer = am4core.create("legenddiv", am4core.Container);
  legendContainer.width = am4core.percent(100);
  legendContainer.height = am4core.percent(100);

  const items = JSON.parse('{{page.items | jsonify}}');

  let url = '{{ site.url }}';
  const baseUrl = '{{ site.baseurl }}';
  if (url.indexOf(baseUrl) < 0) {
    url = url + baseUrl + "/";
  }

  // Add data
  chart.data = items;
  chart.legend = new am4charts.Legend();
  chart.legend.parent = legendContainer;
  chart.legend.labels.template.maxWidth = 500;
  chart.legend.itemContainers.template.tooltipText = "{category}";
  chart.legend.labels.template.truncate = false;
  chart.legend.labels.template.wrap = true;

  chart.events.on("datavalidated", resizeLegend);
  chart.events.on("maxsizechanged", resizeLegend);

  chart.legend.events.on("datavalidated", resizeLegend);
  chart.legend.events.on("maxsizechanged", resizeLegend);

  function resizeLegend(ev) {
    document.getElementById("legenddiv").style.height = chart.legend.contentHeight + "px";
  }

  // remove duplicated amCharts attribution
  let element = document.querySelectorAll('[aria-label="Chart created using amCharts library"]');
  if(element[1])
    element[1].remove();

  const pageChartConfig = JSON.parse('{{page.chart_config | jsonify}}') || {};
  if (pageChartConfig.options && pageChartConfig.options.legend.position === "left") {
    chart.legend.position = "left";
  }
  if (pageChartConfig.options && pageChartConfig.options.legend.position === "bottom") {
    chart.legend.labels.template.maxWidth = 300;
  }
  // Add and configure Series
  let pieSeries = chart.series.push(new am4charts.PieSeries());

  pieSeries.slices.template.events.on("hit", function (ev) {
    let item = items[ev.target.dataItem.index];
    if (item && item.link) {
      let link = url + item.link + ".html";
      window.location.href = link;
    }
  }, this);

  pieSeries.labels.template.disabled = true;
  pieSeries.ticks.template.disabled = true;
  pieSeries.dataFields.value = "value";
  pieSeries.dataFields.category = "name";
  pieSeries.slices.template.stroke = am4core.color("#fff");
  pieSeries.slices.template.strokeWidth = 2;
  pieSeries.slices.template.strokeOpacity = 1;
  pieSeries.legendSettings.itemValueText = " ";
</script>