---
layout: default
---

  {%- include chart-page.html -%}

  <script>
    const items = JSON.parse('{{page.items | jsonify}}');
    const colours = JSON.parse('{{page.colours | jsonify}}');
    const labels = JSON.parse('{{page.labels | jsonify}}');

    const donuts = JSON.parse('{{page.donuts | jsonify}}');
    let url = '{{ site.url }}';
    const baseUrl = '{{ site.baseurl }}';
    if (url.indexOf(baseUrl) < 0) {
      url = `${url}${baseUrl}/`;
    }

    var datasets = { "datasets":
            [{
                data: items,
                label: '{{page.timeframe}}',
                backgroundColor: colours,
            }],
            labels: labels
      };

    var config = {
      type: '{{page.chart_type}}',
      data: datasets,
      options: {
        responsive: true,
        legend: {
          position: 'top',
        },
        title: {
          display: true,
          text: 'Legend'
        },
        animation: {
          animateScale: true,
          animateRotate: true
        },
        onClick: function(evt) {
          var activePoints = window.myDoughnut.getElementsAtEvent(evt);
          var anyPoint = activePoints[0];
          let document_name = donuts[anyPoint._index].document_name;
          let link = `${url}charts/${document_name}.html`;
          window.location.href = link;
          },
        tooltips: {
          callbacks: {
            label: function(tooltipItem, data) {
              var dataset = data.datasets[tooltipItem.datasetIndex];
              var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
                return previousValue + currentValue;
              });
              var currentValue = dataset.data[tooltipItem.index];
              var percentage = Math.floor(((currentValue/total) * 100)+0.5);
              return `${currentValue} (${percentage}%)`;
            }
          }
        } 
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('chart-area').getContext('2d');
      window.myDoughnut = new Chart(ctx, config);
    };

  </script>
  <script src="/prm-funnel/assets/js/Chart.min.js"></script>

