---
layout: default
---

  {%- include chart-description.html -%}
  {%- include chart-page.html -%}

<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/kelly.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<!-- Chart code -->
<script>
// Themes begin
am4core.useTheme(am4themes_kelly);
am4core.useTheme(am4themes_animated);
// Themes end

// Create chart instance
var chart = am4core.create("chartdiv", am4charts.PieChart);

const items = JSON.parse('{{page.items | jsonify}}');
const links = JSON.parse('{{page.links | jsonify}}');

let url = '{{ site.url }}';
const baseUrl = '{{ site.baseurl }}';
if (url.indexOf(baseUrl) < 0) {
  url = url + baseUrl + "/";
}

// Add data
chart.data = items;
chart.legend = new am4charts.Legend();
chart.legend.labels.template.maxWidth = 500;
chart.legend.itemContainers.template.tooltipText = "{category}";
chart.legend.labels.template.truncate = false;
chart.legend.labels.template.wrap = true;

const pageChartConfig = JSON.parse('{{page.chart_config | jsonify}}') || {};
if (pageChartConfig.options && pageChartConfig.options.legend.position === "left"){
  chart.legend.position = "left";
}

// Add and configure Series
var pieSeries = chart.series.push(new am4charts.PieSeries());

pieSeries.slices.template.events.on("hit", function(ev) {
    let document = links[ev.target.dataItem.index];
    if (document && document.document_name) {
      let link = url + document.document_name + ".html";
      window.location.href = link;
    }
  }, this);

pieSeries.labels.template.disabled = true;
pieSeries.ticks.template.disabled = true;
pieSeries.dataFields.value = "value";
pieSeries.dataFields.category = "name";
pieSeries.slices.template.stroke = am4core.color("#fff");
pieSeries.slices.template.strokeWidth = 2;
pieSeries.slices.template.strokeOpacity = 1;
pieSeries.legendSettings.itemValueText = " ";
</script>