<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% if site.url contains 'nhsconnect.github.io' %}
  <link rel="shortcut icon" type="image/jpg" href="/prm-funnel/assets/favicon.jpg">
  {% else %}
  <link rel="shortcut icon" type="image/jpg" href="/prm-funnel/assets/favicon.local.jpg">
  {% endif %}

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="prm-wrapper">
        <div class="default-content-wrapper">
          {{ content }}
        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
