---
layout: default
---

  {%- include chart-page.html -%}

  <script>
    const items = JSON.parse('{{page.items | jsonify}}');
    const colours = JSON.parse('{{page.colours | jsonify}}');
    const labels = JSON.parse('{{page.labels | jsonify}}');

    var datasets = { "datasets":
            [{
                  "data": items,
                  "label": '{{page.timeframe}}',
                  backgroundColor: colours,
            }],
            "labels": labels
      };

    var config = {
      type: '{{page.chart_type}}',
      data: datasets,
      options: {
        responsive: true,
        legend: {
          position: 'top',
        },
        title: {
          display: true,
          text: 'Legend'
        },
        animation: {
          animateScale: true,
          animateRotate: true
        }
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('chart-area').getContext('2d');
      window.myDoughnut = new Chart(ctx, config);
    };

  </script>
  <script src="/prm-funnel/assets/js/Chart.min.js"></script>

