---
layout: default
---
  {%- include funnel-description.html -%}
  {%- include chart-page.html -%}

  <!-- Resources -->
  <script src="https://www.amcharts.com/lib/4/core.js"></script>
  <script src="https://www.amcharts.com/lib/4/charts.js"></script>
  <script src="https://www.amcharts.com/lib/4/themes/material.js"></script>
  <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
  
  <!-- Chart code -->
  <script>
  // Themes begin
  am4core.useTheme(am4themes_material);
  // Themes end
  
  var chart = am4core.create("chartdiv", am4charts.SlicedChart);
  chart.hiddenState.properties.opacity = 0; // this makes initial fade in effect
  
  const data = JSON.parse('{{page.items | jsonify}}');

  let url = '{{ site.url }}';
  const baseUrl = '{{ site.baseurl }}';
  if (url.indexOf(baseUrl) < 0) {
    url = url + baseUrl + "/";
  }

  chart.data = data;
  
  var series = chart.series.push(new am4charts.FunnelSeries());
  series.colors.step = 2;
  series.dataFields.value = "value";
  series.dataFields.category = "name";
  series.slices.template.tooltipText = "";

  series.slices.template.events.on("hit", function(ev) {
    let item = data[ev.target.dataItem.index];
    if (item && item.link) {
      let link = url + item.link + ".html";
      window.location.href = link;
    }
  }, this);

  chart.legend = new am4charts.Legend();
  chart.legend.margin(20,5,20,5);
  series.legendSettings.itemValueText = " ";
  series.legendSettings.itemLabelText = "{category}";

  </script>