---
layout: default
---
<article class="widget" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>

  <div class="chart-container" id="funnel"></div>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <script>
      const data = JSON.parse('{{page.items | jsonify}}');
      const donuts = JSON.parse('{{page.donuts | jsonify}}');
      let url = '{{ site.url }}';
      const baseUrl = '{{ site.baseurl }}';
      if (url.indexOf(baseUrl) < 0) {
        url = `${url}${baseUrl}/`;
      }
      
      const options = {
          block: {
              dynamicHeight: true,
              minHeight: 15,
              minWidth: 500,
              fill: {
                  type: 'gradient'
              },
              highlight: true,
              dynamicSlope: true,
              dynamicHeight: true
          },
          chart: {
            animate: 100,
            curve: {
                enabled: true,
                height: 20
            }
          },
          label: {
              enabled: true,
              format: '{l}'
          },
          tooltip: {
              enabled: true,
              format: '{l}: {f}'
          },
          events: {
            click: {
                block: function(somedata) {
                    let document_name = donuts[somedata.index].document_name;
                    let link = `${url}donuts/${document_name}.html`;
                    window.location.href = link;
                }
            }
          }
      };

      
    window.onload = function() {
      const chart = new D3Funnel('#funnel');
      chart.draw(data, options);
    };
  </script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="/prm-funnel/assets/js/d3-funnel.min.js"></script>

</article>
