---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <h2 class="post-list-heading">{{ page.list_title | default: "Available months, latest first:" }}</h2>

  <ol class="post-list">
  {%- assign funnels = site.pages | sort: 'date' -%}
  {%- assign funnels = funnels | reverse -%}
  {%- capture toclose -%}{%- increment openelements -%}{%- endcapture -%}
  {%- assign currentindex = 1 -%}
  {%- for page in funnels -%}
    {%- if page.index > currentindex -%}
      {%- assign currentindex = page.index -%}
      {%- capture toclose -%}{%- increment openelements -%}{%- endcapture -%}
      <ol>
    {%- endif -%}

    {%- if page.index < currentindex -%}
      {%- assign currentindex = page.index -%}
      {%- capture toclose -%}{%- decrement openelements -%}{%- endcapture -%}
      </ol>
    {%- endif -%}
  
    {%- if page.index == currentindex -%}
      <li><a href="{{site.baseurl}}{{page.url}}">{{ page.title }}</a></li>
    {%- endif -%}
  {%- endfor -%}

  {%- for count in (0..toclose) -%}
  </ol>
  {%- endfor -%}
  </ol>

</div>
