---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.funnels.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Available months, latest first:" }}</h2>
    <ul class="post-list">
    {% assign funnels = site.funnels | reverse %}
    {%- for funnel in funnels -%}
      {%- if funnel.perspectives -%}
        <li>
          <h3>{{ funnel.month }}</h3>
          <ul>
          {%- for perspective in funnel.perspectives -%}
            <a href="{{site.baseurl}}{{perspective.link}}" tabindex="{{forloop.index}}"><li>{{ perspective.title }}</li></a>
          {%- endfor -%}
          </ul>
        </li>
      {%- else -%}
      <li>
        <h3>
          <a class="post-link" href="{{ funnel.url | relative_url }}" tabindex="{{forloop.index}}">
            {{ funnel.title | escape }}
          </a>
        </h3>
      </li>
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}

</div>
