---
layout: default
---

{%- include integration-bar-chart-description.html -%}
{%- include integration-bar-chart-page.html -%}

<!-- Resources -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<script>
  // Themes begin
  am4core.useTheme(am4themes_animated);

  // Create chart instance
  var chart = am4core.create("chartdiv", am4charts.XYChart);

  chart.colors.list = [
    am4core.color("green"),
    am4core.color("orange"),
    am4core.color("red")
  ];

  // Add data
  const items = JSON.parse('{{page.items | jsonify}}');
  chart.data = items

  chart.legend = new am4charts.Legend();
  chart.legend.position = "top";

  // Create axes
  var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
  categoryAxis.dataFields.category = "pathway";
  categoryAxis.renderer.grid.template.opacity = 0;

  var valueAxis = chart.xAxes.push(new am4charts.ValueAxis());
  valueAxis.min = 0;
  valueAxis.renderer.line.strokeOpacity = 0.5;
  valueAxis.renderer.baseGrid.disabled = true;
  valueAxis.renderer.minGridDistance = 40;

  // Create series
  function createSeries(field, name) {
    var series = chart.series.push(new am4charts.ColumnSeries());
    series.dataFields.valueX = field;
    series.dataFields.categoryY = "pathway";
    series.stacked = true;
    series.name = name;

    var labelBullet = series.bullets.push(new am4charts.LabelBullet());
    labelBullet.locationX = 0.5;
    labelBullet.label.text = "{valueX}";
    labelBullet.label.fill = am4core.color("#fff");
  }

  createSeries("integrated_count", "Success and integrated");
  createSeries("not_integrated_count", "Success and not integrated");
  createSeries("error_count", "Failure");

</script>